/* Reset some default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: #080808;
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #1a1a1a;
    color: #f7c32b;
    text-align: center;
    padding: 20px 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.1em;
    color: #ddd;
}

/* Main container styling */
main {
    margin-top: 150px; /* Increased the margin-top to ensure the content is not hidden by the header */
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Section styling */
section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #2a2a2a;
    border-radius: 8px;
}

/* Links styling */
a {
    color: #f10909;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f10909;
    text-decoration: underline;
}

/* Code snippet styling */
pre {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

code {
    color: #00ffcc;
    font-family: Consolas, "Courier New", monospace;
    font-size: 0.9em;
}

/* Heading styles within sections */
h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #ffd700;
    margin-bottom: 10px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    main {
        padding: 15px;
    }

    header h1 {
        font-size: 1.8em;
    }

    header p, h2, h3 {
        font-size: 1em;
    }
}
